@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

html {
  font-size: 62.5%; /*10px */
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.document-wrapper {
  font-family: 'Montserrat', sans-serif;
}
.intro-btn {
  text-align: left;
  width: 10em;
}
.button {
  margin: 2em 0;
  font-size: 0.9em;
  padding: 0.5em;
}
.button:hover {
  transform: scale(1.2);
}
.button a {
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(to right, #31cc78, #2bb7da);
  margin: 2em 0;
  font-size: 0.9rem;
  padding: 0.5em;
  border-radius: 25px;
}

#network {
  color: #31cc78;
  font-size: 0.5rem;
  position: relative;
  right: 0;
  animation: network 4s ease-in-out;
}
@keyframes network {
  0% {
    left: 0;
    color: hotpink;
  }
  25% {
    left: 500px;
    color: rgb(139, 4, 72);
  }
  50% {
    right: 1000px;
    color: rgb(48, 1, 24);
  }
  100% {
    right: 1200px;
    color: rgb(48, 1, 24);
  }
}
/******************HEADER SECTION******************/
.navbar {
  padding: 1.5em 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  background: rgb(250, 250, 250);
  margin-bottom: 0.5em;
}

.navbar .nav-image:hover {
  transform: scale(1.2);
}
.navbar .menu-button {
  display: none;
}

.navbar .menu-button:hover {
  transform: scale(1.2);
}

.navbar nav {
  display: none;
}
.navbar .mobile {
  display: none;
  background: #2fc597;
  opacity: 0.9;
  position: absolute;
  right: 0;
  top: 4rem;
  height: 60vh;
  animation: slide 1s;
}
@keyframes slide {
  from {
    right: -10rem;
  }
  to {
    right: 0;
  }
}
.navbar .mobile li {
  display: block;
  width: 8rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  border-bottom: 3px solid #fff;
  border-bottom-width: 0.3rem;
  border-bottom-left-radius: 25px;
  padding-bottom: 1rem;
}
.navbar .mobile li a {
  color: #fff;
  font-size: 1.2rem;
  padding: 0 1rem;
}
.navbar .mobile li:hover {
  transform: scale(1.1);
}
#menu-box {
  display: block;
}
#menu-box img {
  height: 1.5rem;
}

#menu-icon {
  display: none;
}

/************BANNER SECTION**********/

#banner-section {
  max-width: 100%;
}
.banner {
  padding: 1.5em 10%;
  display: flex;
  /* align-items: center; */
  flex-direction: column-reverse;
  flex-wrap: wrap;
  background-image: url('/images/bg-intro-mobile.svg');
  background-repeat: no-repeat;
  background-position: left;
  overflow: hidden;
  background-origin: content-box;
  background-position-x: 10em;
  background-position-y: 1em;
}

#bg-intro {
  height: 20em;
}
.banner .intro p {
  font-size: 1.5rem;
  max-width: 35rem;
  margin-bottom: 1.5rem;
}
.banner .intro h1 {
  font-size: 2em;
  font-weight: 700;
  max-width: 40rem;
  margin-top: 10rem;
  margin-bottom: 1.5rem;
  animation: h-one-text 5s 2 ease-in;
}
#phones {
  margin: 0 auto;
  text-align: center;
}

#phones img {
  width: 19em;
  display: block;
  margin-top: 1.5em;
  margin-bottom: -30rem;
  margin-left: -1rem;
  animation: phoneResize 5s 2;
}

@keyframes phoneResize {
  from {
    width: 10em;
  }
  to {
    width: 19em;
  }
}
/******************WHY US SECTION**************/

#why-us {
  background: #faf9f9;
  padding: 1.5em 10%;
}

#why-us .why {
  text-align: center;
}
#why-us .why p {
  text-align: center;
}
#why-us > div h2 {
  font-size: 1em;
  font-weight: 700;
  margin: 1em 0;
}

#why-us .services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1.5em 0;
}
#why-us .services .service-icon {
  margin: 2em 0;
}
#why-us .services .icon {
  text-align: center;
}
#why-us .services h3 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 1em 1em 1em 0;
}
#why-us .services p {
  font-size: 1em;
  text-align: justify;
  margin-right: 1em;
}

/***********************blog section************************/
#blog {
  padding: 1em 10%;
}

.blog-post h3 {
  font-size: 1.5em;
  font-weight: 700;
  padding: 2em 0;
}
.post-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.post-wrap .article {
  max-width: 18rem;
  margin: 0.5rem 0;
  border: 2px solid #fff;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 10px rgba(143, 143, 143, 0.5);
}
.post-wrap .article .author {
  font-size: 1.1rem;
}
.post-wrap .article img {
  max-width: 16.5rem;
  margin: 1.5rem auto;
}
.post-wrap .article img:hover {
  transform: scale(1.1);
}

.post-wrap .article h4 {
  margin: 0.2rem 0;
  font-weight: 700;
  padding: 0.5rem 0;
}
.post-wrap .article h4 a {
  text-decoration: none;
}

.post-wrap .article h4 a:hover {
  color: #000;
  text-decoration: none;
}
.post-wrap .article h4 a:visited {
  color: #000;
}
.post-wrap .article p:nth-child(1) {
  color: grey;
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0.8rem;
}
.post-wrap .article p:nth-child(2) {
  text-align: justify;
  margin: 0.5rem auto;
  font-size: 1.1rem;
  margin-bottom: 1.5em;
}

/************************FOOTER SECTION***************************/

#footer {
  /* background-color: #3e3e55; */
  background: linear-gradient(to right, #737391, #3e3e55);
  padding: 1.5em 10%;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}
.footer-wrapper {
  text-align: center;
}
.footer-wrapper .social-links {
  padding-bottom: 1.5em;
}
.footer-wrapper .social-links #footer-logo {
  margin: 1em 0;
}
.footer-wrapper .social-links .social-icons {
  margin: 1em 0.8em;
}
.footer-wrapper .social-links .social-icons a img:hover {
  transform: scale(1.2);
}
.footer-wrapper .footer-links {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.footer-wrapper .footer-links li {
  list-style: none;
  padding-bottom: 1em;
}

.footer-wrapper .footer-links li:hover {
  transform: scale(1.2);
}
.footer-wrapper .footer-links li a {
  color: white;
  text-decoration: none;
}
.footer-wrapper .footer-links li a:hover {
  text-decoration: underline;
}
.copyright {
  margin: 1em 0;
  text-align: center;
}
.copyright .credit {
  margin: 1em 0.8em;
  font-weight: 500;
  color: lightgray;
}

/*********** ANIMATION ************/
@keyframes button {
  0% {
    font-size: 0.5em;
  }
  100% {
    font-size: 0.9em;
  }
}

@keyframes h-one-text {
  0% {
    color: gainsboro;
  }
  25% {
    color: gray;
  }
  50% {
    color: lightslategray;
  }
  100% {
    color: #000;
  }
}
.attr {
  font-size: 1rem;
  text-align: center;
  color: #fff;
  margin: 1.5em 0 0 0;
}
.attr a {
  color: #fff;
  font-weight: 400;
}
